@import './variables';

/* EDUCATION */
#education .heading h2 {
    color: $color-primary;
    margin: 15px 0;
}

.education-block {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 350px;   
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #e9ecef;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    @media (min-width: 720px){
       height: 410px; 
    }
    @media (min-width: 320px){
        height: 400px; 
     }
}

.education-block h5 {
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}

.education-block span {
    font-size: 35px;
}

.education-block h3 {
    color: $color-primary;
    margin: 15px 0;
}

.education-block h4 {
    margin-bottom: 20px;
    font-weight: normal;
}
