@import './variables';

/* FOOTER */

.footer {
    background-color: #333;
    padding: 20px 0 40px;
    text-align: center;
    &-title {
        color: $color-white;
        font-weight: normal;
    }
}

.bi-chevron-up {
    color: $color-primary;
    font-size: 25px;
    line-height: 35px;
    &:hover {
        font-size: 32px;
    }
}